@model FilmReviewMVC.Models.ActorComment

@{
    ViewBag.Title = "Details";
}

<br />
    <h2>Details</h2>
<br />

<div>
    <h4>ActorComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor.ActorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor.ActorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorCommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
