@model IEnumerable<FilmReviewMVC.Models.DirectorComment>

@{
    ViewBag.Title = "Index";
}

<br />
    <h2>Director Comments</h2>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Director.DirectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Director.DirectorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DirectorCommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DirectorCommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DirectorCommentID })
        </td>
    </tr>
}

</table>
