@model FilmReviewMVC.Models.News

@{
    ViewBag.Title = "Details";
}

<br />
    <h2>Details</h2>
<br />

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsWriter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsWriter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
