@model IEnumerable<FilmReviewMVC.Models.Film>

@{
    ViewBag.Title = "Films";
}


<h2>List Of Films</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    
    <tr>
       

        <th>
           
            @Html.DisplayNameFor(model => model.FilmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>

        <th>
           
        </th>
    </tr>

    @foreach (var film in Model)
    {
        @*<li>
            <img src="@film.FilmImage"/>
            <a href="~/Films/Details/@film.FilmID">@film.FilmName</a>
        </li>*@
        <tr>
            <td>
                @Html.DisplayFor(modelItem => film.FilmName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => film.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => film.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => film.Runtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => film.Studio)
            </td>


            <td>
                <img src="@film.FilmImage" width="250" height="250"> />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = film.FilmID }) |
                @Html.ActionLink("Details", "Details", new { id = film.FilmID }) |
                @Html.ActionLink("Delete", "Delete", new { id = film.FilmID })
            </td>
        </tr>
    }

</table>


